[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node app.js"]
build = ["sh", "-c", "npm install"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43082776
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm start"
